*.pyc
__pycache__

saves/*
!saves/README.md

filelists/CUB/*
!filelists/CUB/download_cub.sh
!filelists/CUB/*.py

filelists/scenes/*
!filelists/scenes/download_scenes.sh
!filelists/scenes/*.py

# Ignore codalab
/checkpoints/
/features/
/args.json
/results.json
/reed-birds
.Rproj.user

.Rhistory

*.out

exp/*
exp/*/*/checkpoints/*.tar
exp/*/*/features/*.hdf5
!exp/README.md

test/*

*.RData

analysis/*.html
